<a href="https://colab.research.google.com/github/jmofarias/machine_learning/blob/master/analisando_cancer_de_pulmao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Dados de Câncer de Pulmão**

* Dataset com dados referentes ao câncer de pulmão.
* [Lung Cancer](https://www.kaggle.com/imkrkannan/lung-cancer-dataset-by-staceyinrobert)

In [4]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

## 1. Importando Bibliotecas

In [5]:
# importando bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 2. Leitura dos dados utilizando a biblioteca Pandas

In [10]:
# lendo csv e armazenando em um dataframe
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Machine_Learning/Datasets/lung_cancer.csv')

In [11]:
data.head()

  GENDER  AGE  SMOKING  ...  SWALLOWING DIFFICULTY  CHEST PAIN  LUNG_CANCER
0      M   69        1  ...                      2           2          YES
1      M   74        2  ...                      2           2          YES
2      F   59        1  ...                      1           2           NO
3      M   63        2  ...                      2           2           NO
4      F   63        1  ...                      1           1           NO

[5 rows x 16 columns]

## 3. Limpeza e organização dos dados

In [12]:
data['GENDER'] = data['GENDER'].replace(['M', 'F'], [0, 1])
data.head()

   GENDER  AGE  SMOKING  ...  SWALLOWING DIFFICULTY  CHEST PAIN  LUNG_CANCER
0       0   69        1  ...                      2           2          YES
1       0   74        2  ...                      2           2          YES
2       1   59        1  ...                      1           2           NO
3       0   63        2  ...                      2           2           NO
4       1   63        1  ...                      1           1           NO

[5 rows x 16 columns]

In [13]:
data['LUNG_CANCER'] = data['LUNG_CANCER'].replace(['NO', 'YES'], [0, 1])
data.head()

   GENDER  AGE  SMOKING  ...  SWALLOWING DIFFICULTY  CHEST PAIN  LUNG_CANCER
0       0   69        1  ...                      2           2            1
1       0   74        2  ...                      2           2            1
2       1   59        1  ...                      1           2            0
3       0   63        2  ...                      2           2            0
4       1   63        1  ...                      1           1            0

[5 rows x 16 columns]

## 4. Análise preliminar dos dados

#### Histograma